{% extends 'ticketsend/base.html' %}

{% block 'conteudo' %}
	<form method="post">
		{% csrf_token %}
		<table>
		{{ form.as_table }}
		<tr>
			<td></td>
			<td style="text-align: right"><input type="submit" value="Enviar"></td>
		</tr>
		</table>
	</form>
{% endblock %}
