<!DOCTYPE html>
<html>
<head>
	<title>ticketsend</title>
</head>

<body>
	<table>
		<tbody>
			<tr>
				<td>
					{% block 'menu' %}
					{% include 'ticketsend/menu.html' %}
					{% endblock %}
				</td>
				<td>
					{% block 'conteudo' %}
					{% endblock %}
				</td>
			</tr>
		</tbody>
	</table>
</body>

</html> 
