{% extends 'ticketsend/base.html' %}

{% block 'conteudo' %}
	<table>
		<tbody>
		{% for row in data %}
			<tr>
			{% for field in row.values %}
				<td>{{ field }}</td>
			{% endfor %}
			{% block 'controles' %}
			{% endblock %}
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
