<ul>
<li><a href="{% url 'ticketsend.views.usuario_listar' %}">Listar usuario</a></li>
<li><a href="{% url 'ticketsend.views.usuario_adicionar' %}">Adicionar usuario</a></li>
<li><a href="{% url 'ticketsend.views.ticket_listar' %}">Listar ticket</a></li>
<li><a href="{% url 'ticketsend.views.ticket_adicionar' %}">Adicionar ticket</a></li>
<li><a href="{% url 'ticketsend.views.evento_listar' %}">Listar evento</a></li>
<li><a href="{% url 'ticketsend.views.evento_adicionar' %}">Adicionar evento</a></li>
</ul>
